/* start global variables */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-color: #272b30;
  --seconde-color: #32383e;
  --color-text: #fff;
  --btn-main-color: #272729;
  --nav-link:#09c;
}
body {
  font-family: "Comfortaa", cursive;
  min-height: 100%;
  min-width: 100%;
  background-color: var(--main-color);
  color: var(--color-text);
}
/* start navbar */
header img{
  max-height: 30vh;
}
.navbar{
  margin-bottom: 40px;
}
.navbar-brand img{
  max-width: 40px;
}
.nav-item .nav-link{
  color: var(--color-text);
}
.nav-item .nav-link:hover{
  color: var(--nav-link);
  transition: all 0.5s;
}
.nav-item .active{
  color:var(--nav-link) !important;
}
nav {
  background-color: rgb(58, 73, 123) !important;
  margin-inline: auto;
  margin-top: -30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

/* home */
.home .card {
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
}
.home .card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
.badge-color {
  background-color: var(--seconde-color);
}

/* loading */

.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

